In [ ]:
import pandas as pd
import altair as alt
import numpy as np
import matplotlib.pyplot as plt

alt.data_transformers.disable_max_rows()


# dataDefault = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/housing.csv')
data = pd.read_csv('housingExpanded_3.csv')
data = data.drop(data.columns[[0]], axis=1)
data

               id             date  ...  PHSI_3M_trend        CCI
0      1565930130  20141104T000000  ...            4.3  100.44860
1      3279000420  20150115T000000  ...            8.0  101.20860
2       194000575  20141014T000000  ...            3.4  100.03910
3      2115510160  20141208T000000  ...            6.4  100.90270
4      7522500005  20140815T000000  ...            3.2   99.46797
...           ...              ...  ...            ...        ...
19767  5272200045  20141113T000000  ...            4.3  100.44860
19768  9578500790  20141111T000000  ...            4.3  100.44860
19769  7202350480  20140930T000000  ...            4.9   99.70537
19770  1723049033  20140620T000000  ...            0.9   99.36723
19771  6147650280  20150325T000000  ...            4.8  101.09950

[19772 rows x 37 columns]

In [ ]:
# fix the data

data['waterfront'] = data['waterfront'].fillna(0)

# data = data[]

# get rid of outliers in bathrooms and bedrooms larger than 3 std away
from scipy import stats
data = data[(np.abs(stats.zscore(data['bathrooms'])) < 3)]
data = data[(np.abs(stats.zscore(data['bedrooms'])) < 3)]


# several have 0 bedrooms
data.drop(data.loc[data['bedrooms']==0].index)

data = data.reset_index(drop=True)

data

               id             date  ...      price15  waterfront15
0      1565930130  20141104T000000  ...  528998.0000             0
1      3279000420  20150115T000000  ...  236913.3333             1
2       194000575  20141014T000000  ...  400813.3333             0
3      2115510160  20141208T000000  ...  336473.3333             1
4      7522500005  20140815T000000  ...  539966.8000             0
...           ...              ...  ...          ...           ...
19490  5272200045  20141113T000000  ...  711983.3333             0
19491  9578500790  20141111T000000  ...  357209.0667             0
19492  7202350480  20140930T000000  ...  675462.5333             0
19493  1723049033  20140620T000000  ...  443459.9333             0
19494  6147650280  20150325T000000  ...  434354.1333             0

[19495 rows x 30 columns]

In [ ]:
data

       Unnamed: 0          id  ...      price15  waterfront15
0               0  1565930130  ... 538991.33333             0
1               1  3279000420  ... 241646.66667             0
2               2   194000575  ... 383146.66667             0
3               3  2115510160  ... 334736.66667             1
4               4  7522500005  ... 536300.13333             0
...           ...         ...  ...          ...           ...
19995       19995  5272200045  ... 774883.33333             0
19996       19996  9578500790  ... 349872.40000             0
19997       19997  7202350480  ... 674929.20000             0
19998       19998  1723049033  ... 431193.26667             0
19999       19999  6147650280  ... 431196.66667             0

[19772 rows x 31 columns]

In [ ]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)
pd.set_option('display.max_rows', 100)
print(data['price'].describe())

count     20000.00000
mean     539436.71295
std      366433.43612
min       75000.00000
25%      322000.00000
50%      450000.00000
75%      641625.00000
max     7700000.00000
Name: price, dtype: float64

In [ ]:
data['view'].value_counts()

0    18030
2      889
3      471
1      311
4      299
Name: view, dtype: int64

In [ ]:
data['bedrooms'].value_counts()

3    9097
4    6301
2    2567
5    1412
6     216
1     179
Name: bedrooms, dtype: int64

# Map Plot - Price

In [ ]:
# install dependancies
!pip install --upgrade geopandas
import folium
import geopandas
import geopy

import folium.plugins
import branca
import branca.colormap as cm

In [ ]:
colormap = cm.LinearColormap(colors=['blue', 'red'], index=[75000,800000],vmin=75000,vmax=800000)

map1 = folium.Map(
    location=[47.5,-121],
    tiles='cartodbpositron',
    zoom_start=12,
)
data.apply(lambda row:folium.CircleMarker(
    location=[row["lat"], row["long"]],
    radius=1.5,
    color=colormap(row['price']),
    fill=True
    ).add_to(map1), axis=1)
map1

In [ ]:
# this dataset is too large to perform this geocoding. 

# from geopy.geocoders import Nominatim
# from geopy.extra.rate_limiter import RateLimiter

# geolocator = Nominatim(user_agent="my_request")
# geocode = RateLimiter(geolocator.reverse, min_delay_seconds=1.5)

# # data['coord'] = data['lat'] + ', ' + data['long']

# reverseTest1 = data[:100]
# # reverseTest

# moreDataTest = reverseTest1.apply(lambda x:geocode(str(x["lat"])+", "+str(x["long"]), addressdetails=True).raw['address'], axis=1)
# moreDataTest

In [ ]:
# # reverseTest['address'] = reverseTest['location'].str.split(',').str.get(1).str.strip()
# # reverseTest['address'] = reverseTest['location'].str.split(',').str.get(1)


# pd.set_option('display.max_colwidth', None)
# # reverseTest['location'][10]
# moreDataTestPD = pd.DataFrame.from_dict(moreDataTest)

# moreDataTestPD.columns = ['col1']

# moreDataTestPD = moreDataTestPD['col1'].apply(pd.Series).apply(pd.Series)

# moreDataTestPD
# # moreDataTest
# # reverseTest

In [ ]:
# moreDataTestPD.to_csv('housing_bonus.csv')

# files.download("housing_bonus.csv")

# Feature Engineering

In [ ]:
data[data['zipcode'] == 98023]

In [ ]:
# find additional statistics for each zip code and create new columns

zipcodesUnique = data['zipcode'].unique()

for i in zipcodesUnique:
  data.loc[data.zipcode == i, ['zipmean','zipstd', 'zipmin', 'zip25', 'zip50', 'zip75', 'zipmax']] = (
      data[data['zipcode'] == i].price.mean(),
      data[data['zipcode'] == i].price.std(),
      data[data['zipcode'] == i].price.min(),
      data[data['zipcode'] == i].price.quantile(0.25),
      data[data['zipcode'] == i].price.quantile(0.5),
      data[data['zipcode'] == i].price.quantile(0.75),
      data[data['zipcode'] == i].price.max()
    )

data[['zipmean','zipstd', 'zipmin', 'zip25', 'zip50', 'zip75', 'zipmax']] = data[['zipmean','zipstd', 'zipmin', 'zip25', 'zip50', 'zip75', 'zipmax']].astype(int)

In [ ]:
data.head(20)

               id             date  ...        CCI  house_age
index                               ...
0      1565930130  20141104T000000  ...  100.44860          7
1      3279000420  20150115T000000  ...  101.20860         36
2       194000575  20141014T000000  ...  100.03910        100
3      2115510160  20141208T000000  ...  100.90270         29
4      7522500005  20140815T000000  ...   99.46797         67
5      3787000140  20140901T000000  ...   99.70537         29
6      7852110690  20140522T000000  ...   99.39791         14
7      5469700260  20140903T000000  ...   99.70537         40
8      8691410730  20150220T000000  ...  101.21130         10
9       114100763  20140728T000000  ...   99.35772         73
10     1257202430  20140617T000000  ...   99.36723         13
11     7000100635  20140715T000000  ...   99.35772         69
12     1900000195  20140630T000000  ...   99.36723         72
13      251500330  20141014T000000  ...  100.03910         42
14     7701960210  20150427T000000  ...  101.03610         25
15     4037000065  20150414T000000  ...  101.03610         58
16      522059299  20150204T000000  ...  101.21130         38
17     6072300800  20150505T000000  ...  100.94310         51
18     6821102358  20150224T000000  ...  101.21130         13
19     5029450200  20150323T000000  ...  101.09950         34

[20 rows x 38 columns]

In [ ]:
from tqdm import tqdm
tqdm.pandas()

# functions to get the nearest neighbors and return the averaged values.

def dist(lat1, long1, lat2, long2):
    return np.abs((lat1-lat2)+(long1-long2))

def get_nearest_neighbors_mean(df, lat, long, neighbors, column, currentRow=None):
    distances = df.apply(lambda row: dist(lat, long, row['lat'], row['long']), axis=1)
    distances.columns = ['index', 'distance']
    # print(distances.nsmallest(neighbors).index.values.astype(int))

    if currentRow == None:
      nearest_list = df.iloc[distances.nsmallest(neighbors).index.values.astype(int)]
    else:
      nearest_list = df.iloc[distances.drop(index=currentRow).nsmallest(neighbors).index.values.astype(int)]
    # print(nearest_list[column].mean())
    return nearest_list[column].mean()

def get_nearest_neighbors_sum(df, lat, long, neighbors, column, currentRow=None):
    distances = df.apply(lambda row: dist(lat, long, row['lat'], row['long']), axis=1)
    distances.columns = ['index', 'distance']
    # print(distances.nsmallest(neighbors).index.values.astype(int))

    if currentRow == None:
      nearest_list = df.iloc[distances.nsmallest(neighbors).index.values.astype(int)]
    else:
      nearest_list = df.iloc[distances.drop(index=currentRow).nsmallest(neighbors).index.values.astype(int)]
    # print(nearest_list[column].mean())
    return nearest_list[column].sum()




# doing both metrics at the same time halfs the time needed to perform
def get_nearest_neighbors(df, lat, long, neighbors, currentRow=None):
    distances = df.apply(lambda row: dist(lat, long, row['lat'], row['long']), axis=1)
    distances.columns = ['index', 'distance']
    # print(distances.nsmallest(neighbors).index.values.astype(int))

    if currentRow == None:
      nearest_list = df.iloc[distances.nsmallest(neighbors).index.values.astype(int)]
    else:
      nearest_list = df.iloc[distances.drop(index=currentRow).nsmallest(neighbors).index.values.astype(int)]

    # print(nearest_list[columns[0]].mean())
    return nearest_list['price'].mean(), nearest_list['waterfront'].sum()

In [ ]:
data[['price15', 'waterfront15']] = data.progress_apply(
    lambda row: get_nearest_neighbors(data, row['lat'], row['long'], 15, row.name),
    axis=1,
    result_type='expand'
)

In [ ]:
data['price15'] = data.progress_apply(
    lambda row: get_nearest_neighbors_mean(data, row['lat'], row['long'], 15, 'price', row.name),
    axis=1
)

In [ ]:
data['waterfront15'] = data.progress_apply(
    lambda row: get_nearest_neighbors_sum(data, row['lat'], row['long'], 8, 'waterfront', row.name),
    axis=1
)

In [ ]:
from google.colab import files
data.to_csv('housingExpanded.csv')

files.download("housingExpanded.csv")

In [ ]:
# parse the date (year, month, day)

data['year'] = data['date'].str[:4]
data['month'] = data['date'].str[4:6]
data['dayOfMonth'] = data['date'].str[6:8]


# formatting

data['year'] = data['year'].astype(int)

data['month'] = data['month'].map({
  '01' : 'jan',
  '02' : 'feb',
  '03' : 'mar',
  '04' : 'apr',
  '05' : 'may',
  '06' : 'jun',
  '07' : 'jul',
  '08' : 'aug',
  '09' : 'sep',
  '10' : 'oct',
  '11' : 'nov',
  '12' : 'dec'})

In [ ]:
# National Pending Home Sales Index (PHSI)

phsi = pd.read_csv('housingPHSI_2014_2015.csv')

phsi['month'] = phsi['month'].astype(str)
phsi.dtypes

# dataTest = data[:50]

# dataTest.dtypes

data = data.reset_index().merge(phsi, on=['year','month']).set_index('index').sort_index()

In [ ]:
# Consumer Confidence Index (CCI)

cci = pd.read_csv('housingCCI_2014_2015.csv')

cci['month'] = cci['month'].astype(str)
cci.dtypes

# dataTest = data[:50]

# dataTest.dtypes

data = data.reset_index().merge(cci, on=['year','month']).set_index('index').sort_index()

In [ ]:
# house age 

data['house_age'] = (data['year'] - data['yr_built'])

In [ ]:
from google.colab import files
data.to_csv('housingExpanded (1).csv')

files.download("housingExpanded (1).csv")

# Graphs

In [ ]:
alt.Chart(data).mark_bar().encode(
    alt.X("price:Q", bin=alt.Bin(extent=[0, 8000000], step=200000)),
    y='count()',
)

In [ ]:
alt.Chart(data).mark_bar().encode(
    x = 'year',
    y = 'price',
    color='price'
)

In [ ]:
alt.Chart(data).mark_bar().encode(
    x = 'month',
    y = 'price',
    color='price',
    column='year'
)

In [ ]:
alt.Chart(data).mark_bar().encode(
    x = 'dayOfMonth',
    y = 'price',
    color='price',
    column='year'
)

In [ ]:
alt.Chart(data).mark_bar().encode(
    alt.X("sqft_living", bin=alt.Bin(extent=[0, 8000], step=500)),
    y='price',
)

In [ ]:
alt.Chart(data).mark_bar().encode(
    alt.X("grade"),
    y='price',
)

In [ ]:
alt.Chart(data).mark_bar().encode(
    alt.X("zipcode"),
    y='price',
)

In [ ]:
alt.Chart(data).mark_bar().encode(
    alt.X("bathrooms"),
    y='price',
)

In [ ]:
alt.Chart(data).mark_bar().encode(
    alt.X("bedrooms"),
    y='price',
)

# Testing

In [ ]:
correlation = data.corr()
correlation['price'].sort_values(ascending=False)

price            1.000000
sqft_living      0.678762
grade            0.667737
zipmean          0.658267
zip75            0.654873
zip50            0.652363
zip25            0.644671
zipstd           0.595733
sqft_living15    0.594343
sqft_above       0.579434
zipmin           0.541928
zipmax           0.524304
bathrooms        0.490029
view             0.384928
price15          0.341685
lat              0.332729
bedrooms         0.303151
sqft_basement    0.296183
floors           0.255887
waterfront       0.235266
yr_renovated     0.121449
sqft_lot         0.083904
sqft_lot15       0.077108
condition        0.045763
yr_built         0.044368
long             0.023903
year             0.015765
CCI              0.000820
PHSI             0.000495
dayOfMonth      -0.010770
id              -0.015508
PHSI_1M_trend   -0.022529
PHSI_3M_trend   -0.030461
waterfront15    -0.043645
house_age       -0.044113
zipcode         -0.047291
Name: price, dtype: float64

In [ ]:
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import r2_score

In [ ]:
# X = dataDefault.drop(columns=['id', 'date', 'price'])
# y = dataDefault['price']


encodedData = pd.get_dummies(data, columns=[], drop_first=True)
X = encodedData.drop(columns=['id', 'date', 'zipcode', 'price', 'zip25', 'zip75', 'year', 'month', 'dayOfMonth',
                              'yr_renovated','sqft_above', 'CCI'])
y = encodedData['price']



def modelTrainingTest(randomnum):

  X_train, X_rem, y_train, y_rem = train_test_split(X, y, test_size=0.4, random_state=randomnum)

  X_test, X_dev, y_test, y_dev = train_test_split(X_rem, y_rem, test_size=0.5, random_state=randomnum)

  # print(X_train.shape), print(y_train.shape)
  # print(X_test.shape), print(y_test.shape)
  # print(X_dev.shape), print(y_dev.shape)

  params = {'n_estimators':900, 
            'max_depth':4, 
            'learning_rate':0.1, 
            'objective':'reg:squarederror', 
            'min_child_weight':3,
            'random_state':randomnum}

  model = XGBRegressor(   **params)
  model.fit(X_train, y_train)

  predictions = model.predict(X_test)

  resultRMSE = mean_squared_error(y_test, predictions, squared=False)
  resultRMSLE = np.sqrt(mean_squared_log_error(y_test, predictions))
  resultR2 = r2_score(y_test, predictions)

  # print('MSE: ' + str(resultMSE) + '\nMSLE: ' + str(resultMSLE) + '\nR2: ' + str(resultR2))


  # Final test with dev set
  devPredictions = model.predict(X_dev)

  devResultRMSE = mean_squared_error(y_dev, devPredictions, squared=False)
  devResultRMSLE = np.sqrt(mean_squared_log_error(y_dev, devPredictions))
  devResultR2 = r2_score(y_dev, devPredictions)
  # print('MSE: ' + str(devResultMSE) + '\nMSLE: ' + str(devResultMSLE) + '\nR2: ' + str(devResultR2))

  
  accuracy = [randomnum, resultRMSE, devResultRMSE, resultRMSLE, devResultRMSLE, resultR2, devResultR2]
  # print(accuracy)

  return accuracy, model, devPredictions, y_dev


# 50 seems like a good distribution
# 46/266 has a slightly lower r2 but also a lower MSE
# 355/907 almost gets 5 digit RMSE


accuracy, model, devPredictions, y_dev = modelTrainingTest(50)

print(accuracy)

[50, 103800.78645320675, 105629.08628953739, 0.16514411656785022, 0.16200187329136254, 0.8999421625408973, 0.9018680812612325]

In [ ]:
devPredictions1 = pd.DataFrame({'price_predicted':devPredictions, 'price_actual':y_dev})

devPredictions1.reset_index()

devPredictions_lowest = devPredictions1[devPredictions1['price_actual'].between(0, 400000)]
devPredictions_low = devPredictions1[devPredictions1['price_actual'].between(400001, 600000)]
devPredictions_mid = devPredictions1[devPredictions1['price_actual'].between(600001, 10000000)]

In [ ]:
# RMSE broken down into bins

RMSE_low = mean_squared_error(devPredictions_lowest['price_actual'], devPredictions_lowest['price_predicted'], squared=False)
print('RMSE(0-400000): ' + str(RMSE_low))
RMSE_lowest = mean_squared_error(devPredictions_low['price_actual'], devPredictions_low['price_predicted'], squared=False)
print('RMSE(400000-600000): ' + str(RMSE_lowest))
RMSE_mid = mean_squared_error(devPredictions_mid['price_actual'], devPredictions_mid['price_predicted'], squared=False)
print('RMSE(600000-...): ' + str(RMSE_mid))

RMSE(0-400000): 57439.10092457562
RMSE(400000-600000): 66606.39314550778
RMSE(600000-...): 172077.79250764177

In [ ]:
# run the model several times using different random numbers to check consistancy and average

import random
#Generate 5 random numbers between 10 and 30
randomlist = random.sample(range(1, 1000), 10)

accuracyList = []

for i in randomlist:
  accuracy = modelTrainingTest(i)[0]
  accuracyList.append(accuracy)

accuracyDf = pd.DataFrame(accuracyList, columns = ['seed', 'resultRMSE', 'devResultRMSE', 'resultRMSLE', 'devResultRMSLE', 'resultR2', 'devResultR2'])
accuracyDf

   seed     resultRMSE  devResultRMSE  ...  devResultRMSLE  resultR2  devResultR2
0   987  104124.297721  104451.528422  ...        0.167678  0.907824     0.894453
1   916  105542.121238  103693.771021  ...        0.168972  0.900138     0.894169
2   120  103786.628734  102012.888143  ...        0.163401  0.898126     0.890407
3   238  107702.231286  100788.949489  ...        0.164599  0.888176     0.897712
4   653  103882.436062  105622.939833  ...        0.165748  0.901860     0.900623
5    61  106405.469969  105283.593051  ...        0.164150  0.895338     0.892407
6   584  101647.542441  106696.878301  ...        0.159578  0.902562     0.896659
7   907  109113.429351  100319.296897  ...        0.164346  0.896596     0.896841
8    27  108934.005407  104571.632846  ...        0.165467  0.892832     0.890059
9   743  102862.222948  105597.432587  ...        0.164753  0.900301     0.894140

[10 rows x 7 columns]

# Final Test

In [ ]:
# proccess the raw data
# -------------------------

# zipcode stats

holdoutData = pd.read_csv('housing_holdout_test.csv')
holdoutData

temp = data[['zipcode', 'zipmean','zipstd', 'zipmin', 'zip25', 'zip50', 'zip75', 'zipmax']]
temp = temp.drop_duplicates()

holdoutData = holdoutData.reset_index().merge(temp, on=['zipcode']).set_index('index').sort_index()  # complicated   merge and keep index order

In [ ]:
# this process takes a long while
# neighbor waterfront property count
holdoutData[['price15', 'waterfront15']] = holdoutData.progress_apply(
    lambda row: get_nearest_neighbors(data, row['lat'], row['long'], 15),
    axis=1,
    result_type='expand'
)

100%|██████████| 1613/1613 [08:46<00:00,  3.06it/s]

In [ ]:
# process the date
holdoutData['year'] = holdoutData['date'].str[:4]
holdoutData['month'] = holdoutData['date'].str[4:6]
holdoutData['dayOfMonth'] = holdoutData['date'].str[6:8]

holdoutData['year'] = holdoutData['year'].astype(int)

holdoutData['month'] = holdoutData['month'].map({
  '01' : 'jan',
  '02' : 'feb',
  '03' : 'mar',
  '04' : 'apr',
  '05' : 'may',
  '06' : 'jun',
  '07' : 'jul',
  '08' : 'aug',
  '09' : 'sep',
  '10' : 'oct',
  '11' : 'nov',
  '12' : 'dec'})

In [ ]:
# add the PHSI values
phsi = pd.read_csv('housingPHSI_2014_2015.csv')

phsi['month'] = phsi['month'].astype(str)
holdoutData = holdoutData.reset_index().merge(phsi, on=['year','month']).set_index('index').sort_index()

In [ ]:
# add the CCI values

cci = pd.read_csv('housingCCI_2014_2015.csv')

cci['month'] = cci['month'].astype(str)
holdoutData = holdoutData.reset_index().merge(cci, on=['year','month']).set_index('index').sort_index()

In [ ]:
# add house age 

holdoutData['house_age'] = (holdoutData['year'] - holdoutData['yr_built'])

In [ ]:
# save the proccessed holdout dataset to avoid having to proccess it again
from google.colab import files
holdoutData.to_csv('housing_holdout_test_process_3.csv')

files.download("housing_holdout_test_process_3.csv")

In [ ]:
finalModel = modelTrainingTest(50)[1]

# Save the Model as a pickle
import pickle
with open('final_model.pickle', 'wb') as handle:
    pickle.dump(finalModel, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [ ]:
holdoutData = pd.read_csv('housing_holdout_test_process_3.csv')

X = holdoutData.drop(columns=['id', 'date', 'zipcode', 'zip25', 'zip75', 'year', 'month', 'dayOfMonth',
                              'yr_renovated','sqft_above', 'CCI'])

holdoutPredictions = finalModel.predict(X)
holdoutPredictions = pd.DataFrame(holdoutPredictions)

holdoutPredictions.to_csv('housing_holdout_predictions_3.csv')
files.download("housing_holdout_predictions_3.csv")